{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div>
    <h1 class="text-center about">About Us</h1>
    <p>Welcome to Eventure, your ultimate destination for discovering free events in your area! Whether you’re looking for live music, community meetups, workshops, festivals, outdoor activities, or cultural experiences, our app brings them all together in one easy-to-use platform.
      We believe that everyone should have access to fun and enriching experiences, regardless of budget. That’s why we’ve created a platform that curates free events happening locally and across the globe. Our goal is to connect people with opportunities to explore, learn, and engage in their communities without worrying about the cost.</p>
</div>

<div>
    <h2>Our Mission</h2>
    <p>At Eventure, we are passionate about bringing people together and fostering a sense of community. Our mission is to empower individuals to discover and participate in free events that enrich their lives and create lasting memories.
        <ul>
            <li>Discover Free Events: We carefully select a wide variety of free events happening around you, from art exhibits to outdoor adventures, ensuring there's something for everyone.</li>
            <li>Connect with Others: Meet new people and make friends while enjoying local activities.</li>
            <li>Explore Your City: Uncover hidden gems and unique experiences in your area.</li>
            <li>Share Your Events: Organize and promote your own free events to the community.</li>
            <li>Inclusive and Diverse: We value diversity and inclusivity, offering events for all ages, backgrounds, and interests.</li>
        </ul>
    </p>
</div>

<div>
    <h2>Why Choose Us?</h2>
    <p>Eventure is designed with you in mind. Our user-friendly interface makes it easy to find and RSVP for events that match your interests. We also provide personalized recommendations based on your preferences, ensuring you never miss out on exciting opportunities.</p>
    <p>Join our community of event enthusiasts and start exploring today! Whether you're a local or a traveler, Eventure is your go-to app for discovering free events that make life more vibrant and enjoyable.</p>
    <p>We offer:</p>
    <ul>
        <li>Free Access: As the name suggests, all events listed in our app are free to attend. No hidden costs, no paywalls—just great events for everyone</li>
        <li>User-Friendly: Our app is designed to be intuitive, so finding and attending events is simple and hassle-free.</li>
        <li>Community Focused: At Eventure, we aim to foster stronger, more connected communities by making local events accessible to all.</li>
    </ul>
</div>


{% endblock %}
