{% extends "base.html" %}
{% load static %}


{% block title %}
Create Event
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Create an Event</h2>

    <!-- Display success messages -->
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Event</button>
    </form>
</div>
{% endblock %}