{% extends "base.html" %}

{% block title %}
Events
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title">Events</h1>

    <div class="event-list">
        {% for event in events %}
        <div class="event-card">
            <div class="event-image">
                {% if event.image %}
                <img src="{{ event.image.url }}" alt="{{ event.title }}">
                {% else %}
                <div class="no-image">No Image Available</div>
                {% endif %}
            </div>
            <div class="event-details">
                <h2 class="event-title">{{ event.title }}</h2>
                <p class="event-description">{{ event.description|truncatewords:20 }}</p>
                <p class="event-location">Location: {{ event.location }}</p>
                <p class="event-date-time">{{ event.event_date }} at {{ event.event_time }}</p>
                <p class="event-status {% if event.is_full %}full{% else %}available{% endif %}">
                    {% if event.is_full %}
                        Event Full
                    {% else %}
                        Spaces Left: {{ event.spaces_left }}
                    {% endif %}
                </p>
                <div class="button-container">
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-primary event-link">View Details</a>
                    {% if request.user == event.organiser %}
                        <a href="{% url 'update_event' event.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete_event' event.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


